{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	<p style="margin-top:30px;">
		These are all the things we're doing, <a href="/">order by theme</a> or <a href="/location/">order by location</a></p>

	<div class="grid-row">
		<section class="column-fifth">
			<div class="tag backlog">Pre-discovery</div>
			<div class="big_number txt-backlog">{{ counts.Prediscovery }}</div>
		</section>
		<section class="column-fifth">
			<div class="tag discovery">Discovery</div>
			<div class="big_number txt-discovery">{{ counts.Discovery }}</div>
		</section>
		<section class="column-fifth">
			<div class="tag alpha">Consultancy</div>
			<div class="big_number txt-alpha">{{ counts.Consultancy }}</div>
		</section>
		<section class="column-fifth">
			<div class="tag beta">Delivery</div>
			<div class="big_number txt-beta">{{ counts.Delivery }}</div>
		</section>
		<section class="column-fifth">
			<!-- <div class="tag live">Live</div>
			<div class="big_number txt-live">{{ counts.live }}</div> -->
		</section>
	</div>

	{#
		theme_order & phase_order are set in routes.js
		so them can be used in multiple pages.
	#}

	{% for theme in themes %}

		{% set themeProjects = data[theme] %}
		<h2 class="heading-large service-area">{{ theme }}</h2>

		<div class="grid-row">
		{% for phase in phases %}

			<section class="column-fifth">
			{% if themeProjects[phase] %}

				<ul class="link-list border-{{phase}}">
				{% for project in themeProjects[phase] %}
					<li>
						<a href="/projects/{{ project.id }}">
							{{ project.name }}
						</a>
					</li>
				{% endfor %}
				</ul>

			{% else %}
				&nbsp;
			{% endif %}
			</section>

		{% endfor %}
		</div>

	{% endfor %}

	<p style="margin-top: 100px">Last updated 17th May 2017. <a href="/about">About the digital portfolio</a><p>

</main>

{% endblock %}
